.DS_Store
CexiMe.xcodeproj/jsstack.mode1v3
CexiMe.xcodeproj/jsstack.pbxuser
CexiMe.xcodeproj/julian.pbxuser
CexiMe.xcodeproj/julian.perspectivev3
TouchXML/TouchXML.xcodeproj/julian.pbxuser
TouchXML/TouchXML.xcodeproj/julian.perspectivev3
sharekit/ShareKit.xcodeproj/julian.pbxuser
sharekit/ShareKit.xcodeproj/julian.perspectivev3